* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav-container {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: #245270;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav-categorias {
    display: flex;
    gap: 100px;
  }
  
  .nav-categorias a {
    color: #cfcbcb;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .nav-categorias a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .pesquisa {
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  .pesquisa input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cfcbcb;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #245270;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .pesquisa button {
    margin-left: -35px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #245270;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .pesquisa button:hover {
    opacity: 1;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .perfil{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
  }

  /* Parte do conteúdo do projeto */
.mainContainer {
  display: flex;
  padding: 30px;
  gap: 40px;
  margin: 0 auto;
  background-color: #f0f7fa;
}

/* Parte das informações do perfil*/
.profileSection {
  flex: 1;
  width: 1000px;
}

/* O título escrito "perfil" */
.profileTitle {
  font-size: 24px;
  margin-bottom: 25px;
  color: #665e5e;
  margin-left: 230px;
}


/* A escrita depois da foto*/
.profileInfo {
  padding: 20px;
  border-radius: 8px;
}


/* Nome do dono do perfil*/
.profileName {
  font-size: 20px;
  color: #665e5e;
  margin-bottom: 20px;
  margin-left: 150px;
}

/* Informações do dono do perfil */
.profileDescription {
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Quais tipos de estágios buscados*/
.profileInterests {
  margin: 20px 0;
}

.profileInterests h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #665e5e;
}

.interestList {
  list-style-type: none;
}

.interestList li {
  padding: 5px 0;
  padding-left: 15px;
  position: relative;
}

.interestList li:before {
  position: absolute;
  left: 0;
}

.profileResume {
  margin: 15px 0;
  font-size: 18px;
  margin-left: 100px;
  text-decoration: underline;
}

/* Botão de editar perfil */
.editProfileButton {
    background-color: #ddd;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 15px;
}

.editProfileButtpn:hover {
    background-color: #1a3d56;
}

/* Parte do feed */
.feed-section {
    flex: 2;
   margin-left: 200px;
}

.feed-title {
  font-size: 24px;
  margin-bottom: 25px;
  color: #665e5e;
  margin-left: 250px;
}



.vertical{
  width: 1px;
  height: 600px;
  border: none;
  background-color: #ddd;
  margin: 0 auto
}

.post-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 800px;
    height: 400px;
}

.post-header {
    font-size: 16px;
    color: #665e5e;
  
}
.horas{
font-size: 10px;
color: #665e5e;
margin-bottom: 10px;
}
.postBody{
  background-color: #dddddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 600px;
  height: 300px;
}
