* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white
  }

  .tema {
    margin-left: 800px;
  }
  .pera-la{background: rgba(36, 82, 112, 0.39);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(8.5px);
   -webkit-backdrop-filter: blur(8.5px);
   border: 1px solid rgba(36, 82, 112, 1);
   width: 900px;
   height: 500px;
   margin-left: 500px;
  }
 p{
font-size: 30px;
 }

  .nav-container {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: #245270;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav-categorias {
    display: flex;
    gap: 100px;
  }
  
  .nav-categorias a {
    color: #cfcbcb;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .nav-categorias a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .pesquisa {
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  .pesquisa input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cfcbcb;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #245270;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .pesquisa button {
    margin-left: -35px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #245270;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .pesquisa button:hover {
    opacity: 1;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .perfil{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
  }