* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-container {
    height: 90px;
    width: 100%;
    margin: 0 auto;
    background-color: #245270;
    display: flex; 
    align-items: center;    
    justify-content: center;    
}

.logo{
    display: flex;
    max-width: 400px;
    width: 100%;
}

.logo img {    
    width: 13%;
    height: 15%;
    margin-top: 5px;
}

.logo h1 {
    margin-top: 16px;
}

.buttons {
    justify-content: center;
}

.nav-categorias {
    display: flex; 
    gap: 100px; 
    margin-left: 40%;
}


.nav-categorias a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    padding: 5px 10px; 
    transition: background-color 0.3s;  
}

.nav-categorias a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px; 
}

kailow-nav-nome {
    margin-right: 400px;
}

.card {
    width: 450px;
    height: 100px;
    background-color: #245270;
    padding: 5px;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 50px;    
}
 
.card h1 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}
 
.sao-paulo-home {
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    justify-content: left;
    margin-left: 70px;
    color: white;
}

.sao-paulo-home, card {
    display: flex;
}
.card-todos-home{
    display: flex;
    gap: ;
}