/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/azul.jpg);
}


.nav-container {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: 245270;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .nav-categorias {
    display: flex;
    gap: 100px;
  }
  
  .nav-categorias a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .nav-categorias a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .pesquisa {
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  .pesquisa input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cfcbcb;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    color: #071739;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .pesquisa button {
    margin-left: -35px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #071739;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .pesquisa button:hover {
    opacity: 1;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

header {
  background-color: #071739;
  padding: 10px 20px;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-categorias a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 20px;
}

.navbar {
  background: #fffdfd;
  font-family: Arial, sans-serif;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
}

.nav-list li a {
  color: white;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Faz descer para baixo do item pai */  
  left: 0;
  background: #245270;
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(-10px);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li a {
  padding: 10px 20px;
  border-bottom: 1px solid #245270;
}

.dropdown-menu li a:hover {
  background: #245270;
}


/*-------------------------------------------------------------------------------------*/

.comunidadeHome {
  margin-left: 100px;
  margin-top: 12px;
  width: 400px;
  color: white;
  
}

/* IMAGEM HOME */
.imagemHome {
  width: 100%;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #071739;
  background-color: #ffc0d4;
  font-size: 24px;
}
.opçõesAcces{
  font-size: 19px;
}

/*-------------------------------------------------------------------------------------*/

/* CARDS */
.card-todos-home {
   display: flex;
    justify-content: space-evenly;  
    padding-top: 7vh;
    height: 60vh;
}

.card {
  width: 360px;
  height: 90px;
  background-color: #071739;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

.card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card h5 {
  margin-right: 3px;
  margin-top: -12px;
}





/*-------------------------------------------------------------------------------------*/

/*SÃO PAULO HOME */
.sao-paulo-home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sao-paulo-home img {
  width: 16px;
  margin-right: 5px;
}

/*-------------------------------------------------------------------------------------*/

/* RATING VIEW SELLS */

.ratingReviewSells {
  display: flex;
  gap: 100px;
  margin-left: 11px;
  margin-top: 15px;
  color: white;
}

.ratingReviewSells img {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.rangeHome {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h5 {
  color: white;
}

/*-------------------------------------------------------------------------------------*/

/* FOOTER */

footer{
  background-color: #071739;
  padding: 50px 0;
}
.container-footer{
  max-width: 1500px;
  margin: auto;
}
.row-footer{
  display: flex;
  flex-wrap: wrap;  
}

.footer-col{
  width: 25%;
}

.footer-col h4{
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative; /*Posiciona um elemento em relação à sua posição original, ou seja, relativa a si mesmo*/
  text-transform: uppercase; /*Deixar todas as letras de um texto em maiúsculas*/
}


.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 10px 0;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize; /*Coloca em maiúscula a primeira letra de cada palavra no texto selecionado*/
  color: white;
  text-decoration: none; /* remove a decoração de texto, como o sublinhado*/
  font-weight: 300;
  display: block; /* define que um elemento deve ocupar uma linha inteira, como um bloco, na página*/
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #cecdcd;
  padding-left: 10px;
}
.footer-col .medias-socias{
  margin-top: 30px;
}
.footer-col .medias-socias {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;

}
.footer-col .medias-socias  i{
  font-size: 20px;
}

.footer-col .medias-socias :hover{
  color: gray;
  background-color: white;
}
.footer-col .form-sub input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: gray;
}
.footer-col .form-sub input::placeholder{
  color: white;
}
.footer-col .form-sub button{
  width: 100%;
  margin-top: 10px;
  padding: 10px; 
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: gray;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;        
}
/* Responsivo */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
@media (max-width:600px) {
  .footer-col{
      width: 100%;
  }

  }


#footerHome {
  background-color: gray;
  height: 522px;
}

.primeiraLinhaFooter {
  margin-bottom: 100px;
}

.primeiraLinhaFooter p {
display: flex;
justify-content: center;
}

.logoFooter {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;

}

.logoFooter img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


/*-------------------------------------------------------------------------------------*/

#temaEsc {
  cursor: pointer;
}