.banner {
    position: relative;
}

.bannerImg {
    width: 100%;
    height: auto;
    display: block;
}

.textoBanner {
    position: absolute;
    color: #cfcfcf;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: fit-content;
    width: 80%;
    background: linear-gradient(to right, #adacac 0, white 10%, #acacac 20%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 5s linear infinite;
}

.textoBanner h1 {
    text-transform: uppercase;
    font-size: 9dvh;
}

.textoBanner h2 {
    font-size: 4.5dvh;
    font-weight: 500;
}

@keyframes animate-gradient {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
    
}