@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* ou qualquer peso desejado */
  font-style: normal;
}

.card {
  min-width: fit-content;
  max-width: 80dvh;
  width: 50dvh;
  height: 90px;
  background-color: #245270;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  text-align: left;
  /* padding: 3dvh 2dvh 3dvh 2dvh;  */
}

.card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5dvh;
}

.localCard {
  display: flex;
  gap: 8px;
  /* padding-bottom: 4dvh; */
}

.cardIcons {
  display: flex;
  /* width: 50dvh; */
  text-align: center;
  justify-content: space-between;
  min-width: fit-content;
  max-width: 80dvh;
  width: 50dvh;
  height: 90px;
}

.numberIcon{
  display: flex;
}