  .card {
  min-width: fit-content;
  max-width: 80dvh;
  width: 50dvh;
  height: 90px;
  background-color: #245270;
  padding: 20px;
  border-radius: 16px;
  color: #F0FBFA;
  text-align: left;
  margin-bottom: 2dvh;
}

.card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5dvh;
}

.localCard {
  display: flex;
  gap: 8px;
  /* padding-bottom: 4dvh; */
}

.cardIcons {
  display: flex;
  /* width: 50dvh; */
  text-align: center;
  justify-content: space-between;
  min-width: fit-content;
  max-width: 80dvh;
  width: 50dvh;
  height: 90px;
}

.numberIcon{
  display: flex;
}

.cardText {
  color: #F0FBFA;
  display: flex;
  text-align: center;
}

.numCurtidas, .numComentarios {
  color: #F0FBFA;
}
