.bodyEditarPerfil {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, #071739, #1545aa);
    line-height: 1.6;
    position: relative;
    justify-content: center;
}

.containerEditarPerfil {
    padding-top: 15dvh;
    padding-bottom: 15dvh;
    display: flex;
    justify-content: center;
}

.cardEditarPerfil {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90dvh;
    padding: 10px;
}

.userEditarPerfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Alinha os elementos em coluna */
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    /* Espaçamento superior opcional */
}

.userEditarPerfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Espaçamento entre a imagem e o nome */
}

.userEditarPerfil h3 {
    font-size: 20px;
    color: #245270;
    text-align: center;
    margin: 0;
    /* Remove margens extras */
    display: flex;
    /* Alinha o texto e o ícone lado a lado */
    align-items: center;
    /* Centraliza verticalmente */
    gap: 5px;
    /* Espaçamento entre o texto e o ícone */
}

.textSeuPerfil {
    font-size: 30px;
    color: #245270;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formEditarPerfil {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formEditarPerfil label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #245270;
}

.formEditarPerfil input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.formEditarPerfil button {
    width: 100%;
    padding: 10px;
    background-color: #245270;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formEditarPerfil button:hover {
    background-color: #1b3a4b;
}