* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.homeContainer {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #071739, #1545aa);
  line-height: 1.6;
  position: relative;
  justify-content: center;
}

.homeBody {
  padding-top: 20dvh;
}

.cardsTitulo {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 4dvh;
  color: #fff;
  margin-left: 11dvh;
}

.cardsContainerHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.feedTitle {
  font-size: 6dvh;
  margin: 10dvh;

  color: #ffffff;
  text-align: center;
}