.loaderContainer {
       box-sizing: border-box;
    background-color: #A4B5C4;
      /* background: linear-gradient(90deg, #071739, #1545aa); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.loaderLogo {

    width: 100px;
    height: 100px;
}

.loaderEscrita {
    display: flex;
    color: #CDD5DB;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    background: linear-gradient(90deg, #486382 0%, #CDD5DB 20%, #486382 40%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 4s linear infinite;
    line-height: 1;
}

@keyframes shine {
    0% {
        background-position: 100% center;
    }

    100% {
        background-position: -100% center;
    }
}