.containerPublicar {
    background: linear-gradient(90deg, #071739, #1545aa);
}

.bodyPublicar {
    padding-top: 18dvh;
    padding-bottom: 15dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardPublicarTrabalho {
   background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90dvh;
    padding: 40px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formPublicar {
    width: 70dvh;
    max-width: 400dvh;
    min-height: fit-content;
    margin: 20px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.tituloPublicar {
    text-align: center;
    font-size: 6vh;
    margin-bottom: 10dvh;
    color: #cdd5db;
}

.publicarLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #071739;
    text-align: left;
}

.publicarInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 23px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
}

.buttonPublicar {
    display: flex;
    justify-content: center;
}

.btnPublicar {
     width: 30vh;
    padding: 10px;
    background:  #0d2761;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnPublicar:hover {
    background-color: #BCD4E6;
    color: black;
}