.bodySobre {
    background: linear-gradient(90deg, #071739, #1545aa);

}

.containerSobre {
  background: #071739;
  color: #cdd5db;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px 100px 20px 100px;
  border-radius: 30px;
  margin-bottom: 70px;
}

.tituloSobre {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
}
.tituloSobre h1{
    text-transform: capitalize;
  font-size: 5.5dvh;
  position: relative;
  color: #cdd5db;
  text-transform: uppercase;
}

.textoSobre {
     text-align: center;
   
}

ul li {
    list-style: none;
  font-size: 20px;
}
p{
     font-size: 20px;
}
h1{
     margin-top: 30px;
  font-size: 35px;
}

.singleDev{
     width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 280px;
  overflow: hidden;
}

.singleDev img{
     width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.devContent p{
    margin: 0;
  font-size: 15px;
}

.devs{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
