.bodySobre {
  background: linear-gradient(90deg, #071739, #1545aa);
}

.containerSobre {
  display: flex;
  flex-direction: column;
  padding-top: 18vh;
  padding-bottom: 20dvh;
  /* box-sizing: border-box; */
  overflow-x: hidden;
}

.cardSobre {
  display: flex;
  align-self: center;
  flex-direction: column;
  background: #071739;
  color: #cdd5db;
  width: 110vh;
  max-width: 1050px;
  text-align: center;
  /* margin: 0 auto; */
  padding: 50px 100px 20px 100px;
  border-radius: 30px;
}

@media (max-width: 1070px) {
  .cardSobre {
    width: 75vh;
    padding: 20px 50px 20px 50px;
  }
}

.divTitle {
  text-align: center;
  margin: 50px;
}

.tituloSobre {
  text-transform: capitalize;
  font-size: 3.2rem;
  /* margin-bottom: 14dvh; */
  position: relative;
  /* display: inline-block; */
  color: #cdd5db;
  /* text-transform: uppercase; */
}

.tudoSobre {
  margin: 30px;
}

.tituloCardSobre {
  font-size: 5.5dvh;
  position: relative;
  color: #cdd5db;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.listaSobre li {
  list-style: none;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10px;
}

.textoSobre {
  font-size: 20px;
  text-align: justify;
  margin-top: 10px;
  line-height: 35px;
}

.tituloCardSobre {
  margin-top: 30px;
  font-size: 35px;
}

.singleDev {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 280px;
  overflow: hidden;
}

.singleDev img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.devContent h2 {
  margin: 0;
  font-size: 15px;
}

.devs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}