.bodySobre {
    background-color: #f0fbfa ;

}
.containerSobre {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120dvh;
    min-height: fit-content;
}

.tituloSobre {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.textoSobre {
    background:  rgba(36, 82, 112, 0.39);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(36, 82, 112, 1);
    width: 900px;
    font-size: 30px;
    text-align: justify;
}
