* {
    padding: 0;
    margin: 0;
}

/* Mobile */
@media screen and (max-width: 480px) {
    body {
        background: red;
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background: orange;
    }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: pink;
    }
}

/* tablet / laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background: blueviolet;
    }
}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1999px) {
    body {
        background: yellow;
    }
}

/* Extra large */
@media (min-width: 1920px) {
    body {
        background: black;
    }
}